.addcart_btn {
    padding: 6px 18px;
    border-radius: 3px;
    background-color: #8BE78B;
    border: none;
    color: rgb(76, 65, 65);
    font-weight: 400;
}

.buy_now {
    padding: 6px 18px;
    border-radius: 3px;
}

.card {
    max-width: 300px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    overflow: hidden;
}



.card img {
    height: auto;
}

.card-content {
    padding: 16px;
}

h2 {
    margin-top: 0;
}
.image{
    width: 50%  ;
}