<p-card header=" ‎₹27,380.00 " subheader="Galaxy S20 FE 5G" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="./../../../assets/Images/mobile.jpg">
    </ng-template>
    <p>
        USB Interface USB Type-C.
        USB Version USB 3.2 Gen 1.
        Location Technology GPS, Glonass, Beidou, Galileo.
        Earjack USB Type-C.
        MHL No.
        Wi-Fi 802.11 a/b/g/n/ac/ax 2.4G+5GHz, HE80, MIMO, 1024-QAM.
        Wi-Fi Direct Yes.
        Bluetooth Version Bluetooth v5.0.
    </p>
    <ng-template pTemplate="footer">
        <button pButton label="Addcart" class="addcart_btn"></button>
        <button pButton label="BuyNow" class="buy_now" [style]="{ 'margin-left': '.5em' }"></button>
    </ng-template>
</p-card>