<div class="login-page">
    <div class="form text-center">
        <div style="color:#0278FF;">
            <h2 class="m-0 mb-3">LOGIN</h2>
        </div>
        <div class="mb-2">
            <img src="./../../../assets/Images/hederlogo.png" height="50px">
        </div>
        <div class="mb-4"> 
            <input pInputText type="text" class="p-inputtext-sm w-20rem" placeholder="Email"/>
        </div>
        <div class="mb-4">
            <input pInputText type="password" class="p-inputtext-sm w-20rem" placeholder="Password"/>
        </div>
        <div class="mb-4">
            <a class="cursor-pointer">Forgot your Password</a>
        </div>
        <div class="grid">
            <div class="lg:col-7" style="display: grid;place-content: center;">
                <p class="m-0 text-xs">Create Account? <a routerLink="/Register">RIGISTER</a></p>
            </div>
            <div class="lg:col-5 text-right">
                <p-button  routerLink="/Layout"  size="small" label="Login"></p-button>
            </div>
        </div>
    </div>
  </div>