<div class="admin-page">
    <div class="form text-center">
        <div>
            <img src="/assets/Images/productadd.png" width="80px">
        </div>
        <div class="mt-2">
            <img src="/assets/Images/happyshopping.png" height="35px">
        </div>
        <form #addform="ngForm">
            <div class="grid mt-3">
                <div class="col-6">
                    <input autocomplete="off" id="Price"  #Price="ngModel" name="Price" [(ngModel)]="productadd.Price" required Price
                        pInputText type="text" class="p-inputtext-sm w-20rem" placeholder="Price" />
                    <div class="mt-2"
                        *ngIf="addform.controls['Price']?.invalid && (addform.controls['Price']?.dirty || addform.controls['Price']?.touched)">
                        <span class="mt-2 text-sm text-orange-500"
                            *ngIf="addform.controls['Price'].errors?.['required']">Price is required.</span>
                    </div>
                </div>
                <div class="col-6">
                    <input autocomplete="off" id="Model"  #Model="ngModel" name="Model" [(ngModel)]="productadd.Model" required Model
                        pInputText type="text" class="p-inputtext-sm w-20rem" placeholder="Model" />
                    <div class="mt-2"
                        *ngIf="addform.controls['Model']?.invalid && (addform.controls['Model']?.dirty || addform.controls['Model']?.touched)">
                        <span class="mt-2 text-sm text-orange-500"
                            *ngIf="addform.controls['Model'].errors?.['required']">Model is required.</span>
                    </div>
                </div>
            </div>
            <div class="grid mt-3">
                <div class="col-6">
                    <p-dropdown id="Category"  [options]="categroylookup" optionValue="id" optionLabel="name"  #Category="ngModel" name="Category"  [(ngModel)]="productadd.Category"
                        class="p-inputtext-sm" [showClear]="true" [style]="{'minWidth':'50px', 'width': '100%'}"
                        placeholder="Select a Category"></p-dropdown>
                </div>
                <div class="col-6">
                    <textarea id="Description"  #Description="ngModel" name="Description"  [(ngModel)]="productadd.Description" required
                        Description rows="1" cols="30" placeholder="Description" pInputTextarea></textarea>
                    <div class="mt-2"
                        *ngIf="addform.controls['Description']?.invalid && (addform.controls['Description']?.dirty || addform.controls['Description']?.touched)">
                        <span class="mt-2 text-sm text-orange-500"
                            *ngIf="addform.controls['Description'].errors?.['required']">Description is required.</span>
                    </div>
                </div>
            </div>
            <div class="grid mt-3">
                <div class="col-6">
                    <p-fileUpload (onSelect)="imgUpload($event)" id="selectedFilePath" name="selectedFilePath" #selectedFilePath="ngModel" [(ngModel)]="productadd.selectedFilePath"  [style]="{'minWidth':'50px', 'width': '100%'}" class="file-upload-btn" mode="basic"
                        chooseLabel="Upload"></p-fileUpload>
                </div>
                <div class="col-4"></div>
                <div class="col-2">
                    <button pButton (click)="productsubmit(productadd)" label="Submit" [disabled]="addform.invalid ?? false"
                        class="submit_btn"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<p-toast position="top-right"></p-toast>