.heder {
  background-color: #952BF7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 25px;
  height: 55px;
  align-items: center;
}

.logo img {
  height: 40px;
}

.search input {
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.icons {
  text-align: right;
}

.icons .fa {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  padding: 0px 10px;
  cursor: pointer;
}

ul.topnav {
  list-style-type: none;
  margin: 1%;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  padding: 4px;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 16px;
}


.username{
  border: 3px solid #fff;
    padding: 2px 7px;
    border-radius: 21px;
    font-weight: 700;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

@media screen and (max-width: 680px) {
  .heder {
    display: flex;
    flex-direction: column;
    height: 40vh;
  }

  .icons {
    margin-top: 10%;
  }

  .search input {
    margin-top: 15%;
  }

  .logo img {
    margin-top: 20%;
  }

  .topnav {
    display: flex;
    flex-direction: column;
  }
}