<div class="heder">
  <div class="logo">
    <a><img src="/assets/Images/happyshopping.png"></a>
  </div>
  <div class="search">
    <form>
      <input type="text" placeholder="Search Here">
    </form>
  </div>
  <div class="icons">
    <a class="fa fa-heart m-1"></a>
    <a class="fa fa-shopping-cart m-1"></a>
    <a class="m-3 cursor-pointer" routerLink="/ProductAdd" style="color: #fff;text-decoration: none;"
      *ngIf="usertype==='Admin'">Product Add</a>
    <a class="m-1 username">{{username|uppercase}}</a>
    <a (click)="logout()" class="m-1 fa fa-sign-out"  style="color: #fff;"></a>
  </div>
</div>
<div class="categry">
  <ul class="topnav">
    <li><a routerLink="/Layout/Mobile">Mobiles</a></li>
    <li><a>Grocery</a></li>
    <li><a>Men Clothes</a></li>
    <li><a>Women Clothes</a></li>
    <li><a>Electronics</a></li>
    <li><a>Sports</a></li>
    <li><a>Furniture</a></li>
  </ul>
</div>