<div class="heder">
  <div class="logo">
    <a><img src="/assets/Images/hederlogo.png" width="50px"></a>
  </div>
  <div class="search">
    <form>
      <input type="text" placeholder="Search Here">
    </form>
  </div>
  <div class="icons">
    <a class="fa fa-heart"></a>
    <a class="fa fa-shopping-cart"></a>
    <a class="fa fa-plus"></a>
    <a class="m-1" style="color: #fff;">UserName</a>
  </div>
</div>
<div class="categry">
  <ul class="topnav">
    <li><a routerLink="/Layout/Mobile">Mobiles</a></li>
    <li><a>Grocery</a></li>
    <li><a>Men Clothes</a></li> 
    <li><a>Women Clothes</a></li>
    <li><a>Electronics</a></li>
    <li><a>Sports</a></li>
    <li><a>Furniture</a></li>
  </ul>
</div>