.addcart_btn {
    padding: 6px 18px;
    border-radius: 3px;
}

.buy_now {
    padding: 6px 18px;
    border-radius: 3px;
}

.card {
    max-width: 300px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}



.card img {
    height: auto;
}

.card-content {
    padding: 16px;
}

h2 {
    margin-top: 0;
}

.image {
    width: 60%;
}