<div class="grid m-0  column-gap-4">
    <div *ngFor="let men of productgetwomenclothes" class=":lg:col-4 card mt-1">
        <div class="card-content">
            <img class="image m-0" src="{{men.imagefilepath}}">
            <h2 class="m-0"> ₹{{men.price}}</h2>
            <h3 class="m-0 pt-2">{{men.model}}</h3>
            <p class="m-0 pt-2">{{men.description}}</p>
        </div>
        <div class="mb-2">
            <button (click)="addcart()" pButton label="Add cart" class="addcart_btn ml-2"></button>
            <button pButton label="Buy Now" class="addcart_btn ml-3"></button>
        </div>
    </div>
</div>
<p-toast position="top-right"></p-toast>