<app-heder></app-heder>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="offer">
    <div class="big_sale">
        <img src="./../../assets/Images/sales-offer.avif">
    </div>
    <div class="offer_slide">
        <div class="container">
            <div class="wrapper">
                <img src="./../../assets/Images/offer.avif">
                <img src="./../../assets/Images/mobile-off.jpg">
                <img src="./../../assets/Images/lap-offer.jpg">
                <img src="./../../assets/Images/watch-off.jpg">
                <img src="./../../assets/Images/iphone-off.jpg">
            </div>
        </div>
    </div>
    <div class="sale_image">
        <img src="./../../assets/Images/big-sale-offer.jpg">
    </div>
</div>